<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Amigo Chat Bot</title>
    <style>
      *,
      *::after,
      *::before {
        box-sizing: border-box;
      }

      .navbar__logo {
        display: inline-block !important;
        height: 5rem;
        width: 5rem;
        margin-right: 2rem;
      }
    </style>
  </head>

  <body>
    <input type="text" id="textinput" />
    <!-- <div class="loading"><i class="fa-solid fa-spinner fa-spin"></i></div>
    <div class="amigo hidden"> -->
    <!-- HEADER -->
    <!-- <header class="amigo__header">
            <div class="amigo__header--img"> -->
    <!--        <span class="bg"></span>-->
    <!-- <img class="bg" src="assets/images/fav.png" alt="logo" />
            </div>
            <div class="amigo__header--username">
                <h3>Welcome User</h3>
                <small>Hello</small>
            </div>
        </header> -->
    <!-- MAIN CONTENT -->
    <!-- <div class="amigo__chat__container">
            <div class="amigo__chat"></div>
        </div> -->
    <!-- FOOTER -->
    <!-- <footer class="amigo__footer">
            <div class="amigo__footer--questions"></div>
            <div class="amigo__footer--editor">
                <div class="amigo__footer--editor-input-container">
                    <input type="text" class="amigo__footer--editor-input" placeholder="Type a message" />
                    <span class="menu_icon toggle__widget"><i class="fa-solid fa-paperclip"></i></span>
                </div>
                <span class="enter__input send_icon"><i class="fa-regular fa-paper-plane"></i></span>
                <span class="microphone">
                    <span class="microphoneStart"><i class="fa-solid fa-microphone-slash"></i></span>
                    <span class="microphoneStop" hidden><i class="fa-solid fa-microphone"></i></span>
                </span>
            </div>
            <div class="amigo__footer--widget hidden">
                <div class="amigo__footer--widget-icons hide">
                    <div class="attachment">
                        <input type="file" id="file-upload" name="file-upload" class="hidden" />
                        <label for="file-upload">
                            <span class="hide hover">
                                <i class="fa-solid fa-file-upload"></i>
                            </span>
                        </label>
                    </div>
                    <div class="image_upload">
                        <input type="file" id="img-upload" name="img-upload" class="hidden" accept="image/*" />
                        <label for="img-upload">
                            <span class="hide hover">
                                <i class="fa-solid fa-image"></i>
                            </span>
                        </label>
                    </div>
                    <div class="camera_upload">
                        <span class="hide hover">
                            <i class="fa-solid fa-camera"></i>
                        </span>
                    </div>
                    <div class="location_upload">
                        <span class="hide hover">
                            <i class="fa-solid fa-map-marker-alt"></i>
                        </span>
                    </div>
                </div>
            </div>
        </footer>
    </div> -->

    <!-- <div id="dynamic"></div> -->

    <!-- card markup -->
    <!-- <div class="row">
        <div class="col s12 m6">
            <div class="card">
                <div class="card-content">
                    <p>I am a Simple Card</p>
                </div>
                <div class="card-action"><a href="">This is a link</a></div>
            </div>
        </div>

        <div class="col s12 m6">
            <div class="card">
                <div class="card-content">
                    <p>I am a Simple Card</p>
                </div>
                <div class="card-action"><a href="">This is a link</a></div>
            </div>
        </div>
    </div> -->
  </body>
</html>
